html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
table {
  border-collapse: collapse;
  max-width: 30%;
  margin-top: 2rem;
  margin-bottom: 20rem;
}
thead {
  background-color: #619ad4;
}
th {
  border: solid black 1px;
}
td {
  border: solid 1px black;
}
.btn {
  background-color: #619ad4;
  border: solid black 1px;
  color: black;
  text-decoration: none;
  border-radius: 20%;
}
